@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #889c4d;
  --color-secondary: #a00;
  --color-primary-100: #767676;
  --color-secondary-100: #e7d697;
  --color-primary-200: #f2ecdc;
  --color-secondary-300: #48503c;
  --color-primary-300: #8b7271;
  --font-grotesk: "Host Grotesk", "sans-serif";
  --color-secondary-200: #c9cbc4;
}

@utility bg-impact-layered {
  background-image: url('../img/pattern-03.jpg'), url('/img/impact.webp');
  background-position: center, bottom center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;

}

.card {
  @apply border-1 border-secondary-200 rounded bg-white flex flex-col justify-between items-start h-full p-5 pb-10 w-full;
}

.links {
  @apply text-primary-100 hover:text-black;
}

.yellow-text {
  @apply uppercase font-bold text-secondary-100 tracking-[0.15em];
}

.footer-links {
  @apply text-white font-bold text-lg;
}

.footer-links-2 {
  @apply text-white hover:text-[#e2d1b5] text-sm;
}

.footer-hover {
  @apply hover:text-[#e2d1b5];
}